.Blog-Body{
    height: auto;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Part-1 */
.blogPart1-Body{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPart1-left{
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blogPart1-right{
  height: auto;
  width: 50%;
}
.blogPart1-text1{
  font-size: 30px;
  color: rgb(49, 49, 143);
  font-weight: 800;
  text-decoration: underline aqua;
}
.blogPart1-div{
  height: 400px;
  width: 400px;
}
.blogPart1-img{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}