.Career-Body {
  height: auto;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Career-Box1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Career-Box1-Left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Career-Box1Left-text1 {
  font-size: 35px;
  font-weight: 600;
  color: rgb(49, 49, 143);
  margin-bottom: 0px;
}
.Career-Box1Left-text2 {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  opacity: 0.6;
  margin-bottom: 0px;
}
.Career-Box1Left-text3 {
  font-size: 25px;
  font-weight: 600;
  color: rgb(49, 49, 143);
  text-align: left;
}
.Career-Box1Left-Button {
  margin-top: 130px;
  height: 70px;
  width: 180px;
  border-radius: 10px;
  background-color: rgb(98, 54, 242);
  border: 2px solid rgb(98, 54, 242);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Career-Box1Left-Button:hover {
  background-color: transparent;
  border: 2px solid rgb(98, 54, 242);
  color: rgb(98, 54, 242);
}
.Career-Box1Left-text4 {
  font-size: 20px;
  font-weight: 600;
}
.Career-Box1-Right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Career-Box1Right-Img {
  height: auto;
}

.Career-Box2 {
  height: auto;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Career-Box2-Left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Career-Box2Left-Img {
  height: 500px;
}
.Career-Box2-Right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Career-Box2Left-text1 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(49, 49, 143);
  margin-bottom: 10px;
}
.Career-Box2Left-text2 {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  opacity: 0.6;
}

.Career-Box3 {
  height: auto;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Career-Box3-text1 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(49, 49, 143);
}
.Career-Box3-text2 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.6;
  margin-top: -10px;
}

/* BoxSlider.css */
.careerBox3 {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.careerBox-slider {
  display: flex;
  width: 90%;
}

.careerBox {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(98, 54, 242);
  text-align: center;
  transition: transform 0.5s, z-index 0.5s;
}

.careerBox.center {
  width: 100%;
  height: 200px;
  z-index: 1;
  margin-top: -60px;
  border-radius: 10px;
  background-color: rgb(98, 54, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}
.careerBox.center2 {
  height: 50px;
}
.careerBox3-Box {
  height: 230px;
  width: 110%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.careerBox3-text1 {
  font-size: 23px;
  color: rgb(98, 54, 242);
  margin-bottom: 0px;
}
.careerBox3-Box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.careerBox3-Icon1 {
  font-size: 20px;
  opacity: 0.6;
}
.careerBox3-text2 {
  font-size: 20px;
  opacity: 0.6;
  margin-left: 5px;
}
.careerBox3-text3 {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.careerBox3-button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(98, 54, 242);
}
.careerBox3-text4 {
  font-size: 18px;
}
.careerBox3-Icon2 {
  font-size: 18px;
  margin-left: 10px;
}
.careerBox3-button:hover {
  color: rgb(255, 40, 40);
}
.careerBox3-text5 {
  font-size: 23px;
  color: rgb(98, 54, 242);
  margin-top: 10px;
}
/* part-4 */
.Career-Box4 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Career-Box4-Flex {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* part-5 */
.Career-Box5 {
  height: auto;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Career-Box5-Div1 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Career-Box5-Div2 {
  height: 350px;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}
.Career-Box5-Div2:hover {
  box-shadow: rgb(98, 54, 242) 0px 0px 0px 3px ;
}

.Career-Box5-Div4 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Career-Box5-img {
  height: 120px;
  margin-bottom: -10px;
  margin-top: 10px;
}
.Career-Box5-Text2 {
  font-size: 25px;
  font-weight: 600;
  color: rgb(98, 54, 242);
}
.Career-Box5-Text3 {
  margin-top: -10px;
  font-size: 16px;
  opacity: 0.6;
  align-items: center;
}

/* part-6 */
.Career-Box6{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.Career-Box6-From{
  height: auto;
  width: 95%;
  border: 1.5px solid rgb(98, 54, 242);
  border-radius: 10px;
}
.Career-Box6-Div1{
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Career-Box6-Input{
  width: 48%;
  border: 1px solid rgb(187, 182, 182);
}
.Career-Box6-Select{
  height: 40px;
  width: 48%;
  font-size: 16px;
  border: 1px solid rgb(187, 182, 182);
  border-radius: 7px;
}

@media only screen and (max-width: 1000px) {
  .Career-Box1 {
    flex-direction: column;
  }
  .Career-Box1-Left {
    width: 100%;
  }
  .Career-Box1Left-text1 {
    font-size: 25px;
  }
  .Career-Box1Left-text2 {
    font-size: 20px;
  }
  .Career-Box1Left-text3 {
    font-size: 20px;
  }
  .Career-Box1Left-Button {
    margin-top: 30px;
    height: 50px;
    width: 150px;
  }
  .Career-Box1Left-text4 {
    font-size: 18px;
  }

  .Career-Box2 {
    margin-top: 0px;
  }
  .Career-Box2-Left {
    display: none;
  }
  .Career-Box2-Right {
    width: 100%;
  }
  .Career-Box1Right-Img {
    height: 350px;
  }
  .Career-Box2Left-text1 {
    font-size: 25px;
  }
  .Career-Box2Left-text2 {
    font-size: 18px;
  }

  .Career-Box3 {
    margin-top: 20px;
  }
  .Career-Box3-text1 {
    font-size: 25px;
  }
  .Career-Box3-text2 {
    font-size: 18px;
  }
  .careerBox3 {
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .careerBox-slider {
    flex-direction: column;
  }
  .careerBox3-Box {
    height: 200px;
    width: 100%;
  }

  .careerBox.center {
    width: 100%;
    margin-left: -5%;
  }
  .Career-Box4-Flex {
    flex-direction: column;
  }

  /* part-5 */
  .Career-Box5 {
    margin-top: 20px;
  }
  .Career-Box5-Div1 {
    flex-direction: column;
    margin-top: 20px;
  }
  .Career-Box5-Div2 {
    height: 200px;
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Career-Box5-Div4 {
    width: 100%;
    flex-direction: row;
  }
  .Career-Box5-Div3{
    width: 70%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .Career-Box5-Text2 {
    font-size: 20px;
  }
  .Career-Box5-Text3 {
    font-size: 16px;
    text-align: left;
  }
  .Career-Box5-img {
    width: 30%;
  }
   /* part-6 */
   .Career-Box6{
    margin-top: 40px;
  }
  .Career-Box6-Div1{
    width: 90%;
    margin-top: 0px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Career-Box6-Input{
    width: 100%;
    margin-top: 40px;
  }
  .Career-Box6-Select{
    width: 100%;
    margin-top: 40px;
  }
}
