.contacts-Body {
  height: auto;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-Left {
  height: calc(100vh - 100px);
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contacts-Right {
  height: calc(100vh - 100px);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contacts-Image {
  height: 500px;
}
.contacts-Text1 {
  font-size: 40px;
  color: rgb(49, 49, 143);
  font-weight: 800;
  text-align: left;
}
.contacts-Text2 {
  opacity: 0.5;
  text-align: left;
  margin-top: -20px;
}
.contacts-Box1 {
  height: auto;
  width: 90%;
  margin-bottom: 30px;
}
.contacts-Box2 {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contacts-Box3 {
  height: 60px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(49, 49, 143);
  border-radius: 10px;
}
.contacts-Text3 {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.7;
}
.contacts-Text4 {
  color: red;
  margin-left: 3px;
}
.contacts-Input {
  height: 55px;
  width: 85%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
}
.contacts-Input::placeholder {
  color: rgb(49, 49, 143);
  font-size: 20px;
  font-style: italic;
  opacity: 0.5;
}
.contacts-Input2::placeholder {
  color: rgb(49, 49, 143);
  font-size: 20px;
  font-style: italic;
  opacity: 0.5;
}
.contacts-Box7 {
  height: auto;
  width: 50%;
  margin-bottom: 30px;
}
.contacts-Box5 {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-Box6 {
  height: 60px;
  width: 93%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(49, 49, 143);
  border-radius: 10px;
}

.contacts-Input2 {
  height: 55px;
  width: 85%;
  border: none;
  outline: none;
  font-size: 24px;
}
.contacts-Box4 {
  height: 110px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(49, 49, 143);
  border-radius: 10px;
}
.contacts-textarea {
  height: 90px;
  width: 85%;
  border: none;
  outline: none;
  font-size: 20px;
}
.contacts-Button-Div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contacts-Button1 {
  height: 60px;
  width: 130px;
  border-radius: 10px;
  background-color: transparent;
  border: 1.5px solid rgb(248, 48, 48);
  color: rgb(98, 54, 242);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contacts-Button1:hover {
  background-color: red;
  border: 1.5px solid red;
  color: #fff;
}

.contacts-Button-Text {
  font-size: 25px;
  font-weight: 700;
}
.contacts-Button2 {
  height: 60px;
  width: 130px;
  border-radius: 10px;
  background-color: rgb(98, 54, 242);
  border: 1.5px solid rgb(98, 54, 242);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  cursor: pointer;
}
.contacts-Button2:hover {
  background-color: transparent;
  border: 1.5px solid rgb(98, 54, 242);
  color: rgb(98, 54, 242);
}
@media only screen and (max-width: 1000px) {
  .contacts-Left {
    height: calc(100vh - 100px);
    width: 100%;
  }
  .contacts-Right {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .contacts-Left {
    height: calc(100vh - 100px);
    width: 100%;
  }
  .contacts-Right {
    display: none;
  }
  .contacts-Text1 {
    font-size: 30px;
  }
  .contacts-Text2 {
    font-size: 16px;
  }
  .contacts-Box2 {
    height: 28px;
  }
  .contacts-Box3 {
    height: 45px;
    margin-top: 10px;
    border: 1px solid rgb(49, 49, 143);
  }
  .contacts-Text3 {
    font-size: 20px;
  }
  .contacts-Input {
    height: 40px;
    width: 85%;
    font-size: 18px;
  }
  .contacts-Input::placeholder {
    font-size: 18px;
  }
  .contacts-Box6 {
    height: 45px;
    width: 93%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(49, 49, 143);
    border-radius: 10px;
  }

  .contacts-Input2 {
    height: 35px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
  }
  .contacts-Input2::placeholder {
    font-size: 18px;
  }
  .contacts-Box4 {
    height: 90px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid rgb(49, 49, 143);
  }
  .contacts-textarea {
    height: 85px;
    width: 85%;
    font-size: 18px;
  }
  .contacts-Button1 {
    height: 45px;
    width: 90px;
    border: 1px solid rgb(248, 48, 48);
  }
  .contacts-Button1:hover {
    border: 1px solid red;
  }

  .contacts-Button-Text {
    font-size: 20px;
    font-weight: 700;
  }
  .contacts-Button2 {
    height: 45px;
    width: 90px;
    border: 1px solid rgb(98, 54, 242);
  }
  .contacts-Button2:hover {
    border: 1px solid rgb(98, 54, 242);
  }
}
