.home-Body {
  height: calc(100vh - 100px);
  width: 100%;
  overflow: auto;
}
.homeBody {
  height: auto;
  width: 90%;
  margin-left: 5%;
}
.homeMain-Body {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeMain-Left {
  height: calc(100vh - 100px);
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.homeMain-Right {
  height: calc(100vh - 100px);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.homeMain-Right-Img {
  height: 500px;
}
.homeMain-Left-Text1 {
  font-size: 16px;
  text-align: left;
}
.homeMain-Left-Text2 {
  font-size: 30px;
  color: rgb(49, 49, 143);
  font-weight: 800;
  text-align: left;
}
.homeMain-Left-Text3 {
  font-size: 16px;
  opacity: 0.6;
  text-align: left;
}

.homeMain-Left-Box1 {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeMain-Left-Box2 {
  margin-left: 20px;
}
.homeMain-Left-Text4 {
  font-size: 30px;
  color: rgb(49, 49, 143);
  font-weight: 800;
  margin-bottom: -5px;
}
.homeMain-Left-Img {
  height: 40px;
}
.homeMain-Left-Text5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
.homeMain-Left-Link {
  margin-top: 30px;
  height: 70px;
  width: 180px;
  border-radius: 10px;
  background-color: rgb(98, 54, 242);
  border: 2px solid rgb(98, 54, 242);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeMain-Left-Link:hover {
  background-color: transparent;
  border: 2px solid rgb(98, 54, 242);
  color: rgb(98, 54, 242);
}
.homeMain-Left-Text6 {
  font-size: 20px;
  font-weight: 600;
}
.home-Part-Box2 {
  height: auto;
  width: 108%;
  margin-top: 10px;
  background-color: rgb(232, 232, 250);
  border-radius: 8px;
  margin-left: -4%;
}
.home-Part-Div2 {
  width: 80%;
  margin-left: 10%;
}
.home-Part-Flex2 {
  height: auto;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-Part-Link2 {
  text-decoration: none;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-Part-Box {
  height: auto;
  width: 100%;
  margin-top: 100px;
}
.home-Part-Div {
  width: 80%;
  margin-left: 10%;
}
.home-Part-Text1 {
  font-size: 30px;
  color: rgb(49, 49, 143);
  font-weight: 800;
}
.home-Part-Text2 {
  font-size: 16px;
  opacity: 0.6;
  text-align: center;
}
.home-Part-Flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.home-Part3-Box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Part3-Div {
  height: 200px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}
.home-Part3-img {
  height: 180px;
  margin-left: 10px;
}
.home-Part3-DivRight {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}
.home-Part3-text1 {
  font-size: 25px;
  color: rgb(49, 49, 143);
  margin-top: 0px;
  font-weight: 600;
  text-align: left;
}
.home-Part3-text2 {
  text-align: left;
  margin-top: 0px;
}
.home-Part3-Box2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-Part3-Box3{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.home-Part3-Box4{
  display: none;
  
}
@media only screen and (max-width: 1000px) {
  .homeMain-Body {
    flex-direction: column;
  }
  .homeMain-Left {
    height: auto;
    width: 100%;
  }
  .homeMain-Right {
    height: auto;
    width: 100%;
    justify-content: center;
  }
  .homeMain-Right-Img {
    height: 350px;
    margin-top: 30px;
  }
  .homeMain-Left-Text4 {
    font-size: 25px;
  }
  .homeMain-Left-Img {
    height: 25px;
  }
  .homeMain-Left-Link {
    margin-top: 30px;
    height: 50px;
    width: 150px;
  }
  .homeMain-Left-Text6 {
    font-size: 18px;
  }
  .home-Part-Box {
    margin-top: 0px;
  }
  .home-Part-Div {
    width: 100%;
    margin-left: 0%;
  }
  .home-Part-Text1 {
    font-size: 25px;
  }
  .home-Part-Flex2 {
    justify-content: center;
    flex-direction: column;
  }
  .home-Part-Flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-Part-FlexDiv {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-Part3-Div {
    width: 100%;
  }
  .home-Part3-img {
    height: 100px;
    margin-left: 10px;
  }
  .home-Part3-text1 {
    font-size: 20px;
    font-weight: 600;

  }
}

@media only screen and (max-width: 1000px) {
  .home-Part3-Box2{
    display: none;
  }
  .home-Part3-Box4{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .home-Part3-Box5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
}
