.home-Body{
    height: calc(100vh - 100px);
    width: 100%;
    overflow: auto;
}
.homeBody{
    height: auto;
    width: 90%;
    margin-left: 5%;
}
.homeMain-Body{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}