.help-body {
  height: auto;
  width: 100%;
  margin-top: 50px;
}
.help-mainText {
  font-size: 30px;
  color: rgb(49, 49, 143);
  font-weight: 800;
}
.help-DetelsText {
  font-size: 16px;
  opacity: 0.6;
  text-align: center;
}
.help-TopDiv {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-TopBox {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(49, 49, 143);
  border-radius: 50px;
}
.help-TopBox:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}
.help-TopBoxImg {
  height: 200px;
}
.help-TopBoxText1 {
  font-size: 25px;
  font-weight: 600;
  color: rgb(49, 49, 143);
  margin-top: -10px;
}
.help-TopBoxText2 {
  opacity: 0.6;
  align-items: center;
  margin-top: -15px;
}

.help-TopBoxDown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  color: rgb(49, 49, 143);
}
.help-TopBoxText3 {
  font-size: 20px;
}
.help-TopBoxIcon1 {
  font-size: 20px;
  margin-left: 10px;
}
.help-TopBoxIcon2 {
  display: none;
}
.helpMain-Box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.helpMain-LeftBox {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.helpMain-LeftText1 {
  font-size: 16px;
  opacity: 0.6;
  text-align: left;
  margin-top: -10px;
}
.helpMain-LeftBox2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}
.helpMain-LeftIcon {
  font-size: 20px;
  opacity: 0.6;
  color: rgb(49, 49, 143);
}
.helpMain-LeftText2 {
  opacity: 0.6;
  text-align: left;
  margin-top: -1px;
  margin-left: 10px;
}
.helpMain-LeftLink {
  text-decoration: none;
  color: rgb(49, 49, 143);
  display: flex;
}
.helpMain-LeftLink:hover {
  color: red;
}
.helpMain-RightBox {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 250);
  border-radius: 30px;
}
.helpMain-RightBox2 {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.helpMain-RightDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.helpMain-RightDiv2 {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.helpMain-RightText {
  font-size: 22px;
}
.helpMain-RightInputDiv {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  margin-top: -15px;
}
.helpMain-RightInput {
  font-size: 20px;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}
.helpMain-RightDiv3 {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.helpMain-RightTextareaDiv {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  margin-top: -15px;
}
.helpMain-RightTextarea {
  font-size: 20px;
  height: 110px;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}

.helpMain-RightDiv4 {
  margin-top: 20px;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.helpMain-RightButton {
  background-color: rgb(49, 49, 143);
  border: none;
  margin-left: 20px;
}
@media only screen and (max-width: 1000px) {
  .help-mainText {
    font-size: 25px;
  }
  .help-TopDiv {
    flex-direction: column;
  }
  .help-TopBoxIcon2 {
    display: flex;
    font-size: 20px;
    margin-left: 10px;
  }
  .help-TopBoxIcon1 {
    display: none;
  }
  .helpMain-Box {
    flex-direction: column;
    margin-top: 0px;
  }
  .helpMain-LeftBox {
    width: 100%;
  }
  .helpMain-RightBox {
    width: 100%;
    margin-top: 40px;
  }
  .helpMain-RightBox2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .help-body {
    margin-top: 20px;
  }
  .help-mainText {
    font-size: 25px;
  }
  .help-TopBoxImg {
    height: 150px;
  }
  .help-TopBoxText1 {
    font-size: 20px;
  }
  .help-TopBoxText2 {
    opacity: 0.6;
    align-items: center;
    margin-top: -15px;
  }
  .helpMain-RightDiv {
    flex-direction: column;
  }
  .helpMain-RightDiv2 {
    width: 100%;
  }
  .helpMain-RightText {
    font-size: 20px;
  }
  .helpMain-RightInputDiv {
    height: 40px;
  }
  .helpMain-RightInput {
    font-size: 18px;
  }
  .helpMain-RightDiv3 {
    width: 100%;
  }
  .helpMain-RightTextarea {
    font-size: 18px;
  }
  .helpMain-RightDiv4 {
    width: 100%;
  }
}
