.footer-Body {
  height: auto;
  width: 100%;
  background-color: rgb(98, 54, 242);
  margin-top: 100px;
  border-radius: 10px;
  color: #fff;
}
.footer-Top {
  color: #fff;
}
.footer-Mdi {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-Mdi-Box {
  width: 95%;
  margin-right: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-MdiSide-Button {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 13px;
}

.footer-Mdi-box1 {
  flex: 1;
}
.footer-Mdi-box1Div {
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer-MdiBox1-Text1 {
  margin-top: -10px;
}

.footer-Mdi-box2 {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-MdiBox2-Div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-MdiBox2-Text1 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer-MdiBox2-Link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.footer-MdiBox2-Text2 {
  margin-left: 10px;
}

.footer-Mdi-box3 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.footer-MdiA-Box {
  height: 60px;
  width: 220px;
  margin-top: -15px;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: rgb(98, 54, 242) 0px 2px 15px 0px;
  border: 1.5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-MdiA-Icon {
  font-size: 30px;
  transform: rotate(100deg);
}
.footer-MdiA-Line {
  height: 40px;
  width: 2px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-MdiA-Text {
  font-size: 20px;
}
.footer-MdiA-Box:hover {
  box-shadow: #fff 0px 2px 15px 0px;
}
.footer-Mdi-Link {
  text-decoration: none;
}
.footer-Mdi-IconDiv {
  height: 38px;
  width: 38px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 3px;
}
.footer-Mdi-Icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.footer-Mdi2-Box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.footer-Mdi2-Link {
  text-decoration: none;
  margin-left: 10px;
}
.footer-Mdi2-Text {
  color: #fff;
}
.footer-Mdi2-Text2 {
  color: rgb(255, 89, 89);
  font-size: 17px;
}

.footer-Down {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-Down-Line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.6;
}
.footer-Down-Button {
  margin-right: 10px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 10px;
  color: #fff;
}
.footer-Down-Text2 {
  font-size: 18px;
}
.footer-Down-Icon {
  font-size: 18px;
}
.footer-Down-Icon2 {
  font-size: 18px;
  display: none;
}




.footer-Drawer-Box{
  height: auto;
  width: 50%;
}
.footer-Drawer-Text{
  font-size: 20px;
  opacity: .6;
  margin-bottom: 3px;
}
.footer-Drawer-Input{
  
}
@media only screen and (max-width: 1000px) {
  .footer-Body {
    margin-top: 40px;
  }
  .footer-Mdi-Box {
    flex-direction: column;
  }
  .footer-Mdi-box1 {
    width: 90%;
  }
  .footer-Mdi-box2 {
    width: 90%;
  }
  .footer-Mdi-box3 {
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .footer-Mdi-box1Div {
    margin-left: 0px;
    width: 100%;
  }
  .footer-Mdi2-Box {
    flex-direction: column;
  }
  .footer-Mdi2-Text {
    margin-top: -3px;
  }
  .footer-MdiSide-Button {
    margin-top: -3px;
  }
  .footer-Drawer-Box{
    width: 100%;
  }
}
