.header-body {
  height: auto;
  width: 100%;
}
.headerBody {
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBox {
  display: none;
}
.headerBox-Menu {
  background-color: transparent;
  border: none;
}
.header-MenuBox1 {
  height: auto;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}
.header-MenuBox {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-MenuBox2 {
  height: auto;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.headerBox-1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerBox-2 {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBox-3 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerBox-2-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: #000;
}
.headerBox-2-Text {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.headerBox-2-Text.red {
  color: rgb(98, 54, 242);
}




.headerBox-2-Link {
  text-decoration: none;
  color: #000;
}
.headerBox-2-Box:hover {
  color: rgb(98, 54, 242);
}
.headerBox-2-Link:hover {
  color: rgb(98, 54, 242);
}

.headerBox-3-Button {
  height: 70px;
  width: 130px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgb(98, 54, 242);
  color: rgb(98, 54, 242);
  cursor: pointer;
}
.headerBox-3-BText {
  font-size: 20px;
  font-weight: 600;
}
.headerBox-3-Button:hover {
  background-color: rgb(98, 54, 242);
  border: 2px solid rgb(98, 54, 242);
  color: #fff;
}
.headerBox-3-Button.red {
  background-color: rgb(98, 54, 242);
  border: 2px solid rgb(98, 54, 242);
  color: #fff;
}

.header-Line {
  height: 0.5px;
  background-color: rgb(177, 177, 177);
  width: 90%;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.header-DrawerHeader{
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBox-3-Button2 {
  height: 50px;
  width: 130px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgb(98, 54, 242);
  color: rgb(98, 54, 242);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBox-3-BText2 {
  font-size: 18px;
  font-weight: 600;
}
.headerBox-3-Button2:hover {
  background-color: rgb(98, 54, 242);
  border: 2px solid rgb(98, 54, 242);
  color: #fff;
}
.headerBox-3-Button2.red {
  background-color: rgb(98, 54, 242);
  border: 2px solid rgb(98, 54, 242);
  color: #fff;
}







.headerBox-2-Icon {
  margin-top: 5px;
  margin-left: 5px;
}
.headerBox-2-Icon2 {
  margin-top: 5px;
  margin-left: 5px;
  display: none;
}



/* dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  color: #000;
  cursor: pointer;
}
.dropdown:hover {
  color: rgb(98, 54, 242);

}
.dropdown-content {
  display: none;
  height: 170px;
  width: 250px;
  position: absolute;
  z-index: 1;
  margin-top: 220px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.dropdown:hover .headerBox-2-Icon2 {
  display: block;
}
.dropdown:hover .headerBox-2-Icon {
  display: none;
}
.dropdown-content-Link{
  height: 40px;
  width: 100%;
  background-color: rgb(232, 232, 250);
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  text-decoration: none;
}
.dropdown-content-Text{
  font-weight: 700;
  font-size: 16px;
}

/*  new Add */
.headerNew-Icon{
  height: 25px;
  margin-top: 4px;
  
}
.headerNew-Button{
  height: 30px;
  width: 150px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(232, 232, 250);
  border: none;
  border-radius: 3px;
}
.headerNew-Icon2{
  height: 25px;
  margin-right: 7px;
}
.headerNew-Button1{
  margin-top: -100px;
}
.headerBox-1-webIcon{
  height: 70px;
}
@media only screen and (max-width: 1000px) {
  .headerBody {
    height: 80px;
  }
  .headerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerBox-1 {
    display: none;
  }
  .headerBox-2 {
    display: none;
  }
  .headerBox-3 {
    display: none;
  }
  .headerBox-1-webIcon{
    height: 50px;
  }
}

