.h-AnimationBody {
  height: auto;
  width: 108%;
  margin-top: 10px;
  background-color: rgb(232, 232, 250);
  border-radius: 8px;
  margin-left: -4%;
}
.Animation-Div {
  width: 92.7%;
  margin-left: 3.5%;
}
.Animation-Text1 {
  font-size: 30px;
  color: rgb(49, 49, 143);
  font-weight: 800;
}
.Animation-Text2 {
  font-size: 16px;
  opacity: 0.6;
  text-align: center;
}
.Animation-Box{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.Animation-Box-Left{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.Animation-Box-Right{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.Animation-ImgDiv{
  overflow: hidden;
  width: 90%;
  height: 400px;
  border-radius: 30px;
}
.Animation-Img{
  transition: transform 0.3s ease-in-out;
  width: 90%;
  height: 400px;
  border-radius: 30px;
}
.Animation-ImgDiv:hover .Animation-Img{
  transform: scale(1.2); 
}
.Animation-Text3{
  font-size: 20px;
  color: rgb(49, 49, 143);
  font-weight: 600;
}
.Animation-Text4{
  font-size: 20px;
}
.Animation-Link{
  display: flex;
  color: rgb(49, 49, 143);
  text-decoration: none;
}
.Animation-Text4{
  font-size: 20px;
}
.Animation-Icon{
font-size: 20px;
margin-left: 10px;
}
@media only screen and (max-width: 1000px) {
  .Animation-Text1 {
    font-size: 25px;
  }
}
